/* Flex Box */

.flex-container-education {
  display: flex;
  flex-direction: row;
}

.flex-container-work-experience {
  display: flex;
  flex-direction: row;
}

.flex-container-skills {
  display: flex;
  flex-direction: row;
}

.flex-container-goals {
  display: flex;
  flex-direction: row;
}

.flex-container-contact {
  display: flex;
  flex-direction: row;
}

/* Grid CSS */

.flex-container-goals {
  display: flex;
  align-items: center;
  gap: 20px;
}

.list-wrapper {
  background: #6c757d;
  list-style: none;
  padding: 2rem;
}

.goalHeading {
  color: #ffffff;
  background: #001f3f;
  padding: 2rem;
  border: 2px solid;
}

.list-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #6c757d;
  color: #ffffff;
  font-weight: 500;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1;
  background-color: #001f3f;
  color: #ffffff;
}

h2 {
  background: #6c757d;
  padding: 2rem;
}

/* Header styles */
.heading {
  width: 100%;
}

header {
  background-color: #6c757d;
  color: white;
  padding: 2rem;
  text-align: center;
}

#headerlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background: #6c757d;
  padding: 1rem;
}

#contactLink {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border: 2px solid;
  padding: 1rem;
  width: 40%;
  display: block;
  float: left;
}

#contactLink:hover {
  background-color: lightblue;
}

#githubLink {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border: 2px solid;
  padding: 1rem;
  width: 40%;
  display: block;
  float: left;
}

#githubLink:hover {
  background-color: lightblue;
}

/* Section styles */

.responsibilities {
  line-height: 1.5rem;
}

#education,
#work-experience,
#skills,
#goals,
#contact {
  background: #001f3f;
  padding: 40px;
  border: 2px solid #6c757d;
  margin: 1rem;
}

.educationListHeading {
  list-style-type: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
}

/* Form styles */
#contactForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000000;
  padding: 2rem;
  background: #ffffff;
}

.contactlabels {
  color: #000000;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.formfield {
  margin-bottom: 1rem;
  height: 2rem;
}

#emaillink {
  color: #000000;
  padding: 0.2rem;
  font-weight: 700;
}

#emaillink:hover {
  color: lightblue;
}

button {
  background-color: #001f3f;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
}

#formbottom {
  text-align: center;
}

footer {
  background-color: #6c757d;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footerlink {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border: 2px solid;
  padding: 1rem;
  /* width: 40%; */
  display: inline-flex;
}

.footerlink:hover {
  background-color: lightblue;
}

/* image container css */

.image-container {
  max-width: 35%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 800px) {
  .flex-container-skills,
  .flex-container-education,
  .flex-container-work-experience,
  .flex-container-skills,
  .flex-container-goals,
  .flex-container-contact {
    justify-content: center;
  }

  #education,
  #work-experience,
  #skills,
  #goals,
  #contact {
    padding: 10px;
    font-size: 0.7rem;
    margin: 0;
  }
  .educationListHeading,
  .contactlabels {
    font-size: 1rem;
  }

  ul {
    padding: 0px 25px 0px 25px;
  }

  header {
    padding: 0.5rem;
  }

  main {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  #contactForm {
    width: auto !important;
  }

  #contactLink,
  #githubLink {
    width: 100%;
    margin: 5px 0;
  }

  .image-container {
    max-width: 100%;
    display: none;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .formfield {
    height: 1.5rem;
    font-size: 0.8rem;
  }

  button {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }
}
