/* header css */

#mainheader {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#workexperienceheader {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#educationheader {
  text-align: center;
  background-image: url(https://plus.unsplash.com/premium_photo-1681843661864-3f46bfb1a4fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#skillsheader {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#goalsheader {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1544819667-9bfc1de23d4e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#contactheader {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1587560699334-cc4ff634909a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-image img {
  border-radius: 50%;
  height: 286px;
  width: 290px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
}

#mainsecName {
  background: #6c757d;
  padding: 2rem;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#subtext {
  font-size: 1rem;
}

/* NavBar CSS */

.activeTab {
  border-bottom: 2px solid;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

#navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

/* main section css */
#introductionStatement {
  border: 2px solid #6c757d;
  background-color: #ffffff;
  color: black;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Flex Box */

.flex-container-education {
  display: flex;
  flex-direction: row;
}

.flex-container-work-experience {
  display: flex;
  flex-direction: row;
}

.flex-container-skills {
  display: flex;
  flex-direction: row;
}

.flex-container-goals {
  display: flex;
  flex-direction: row;
}

.flex-container-contact {
  display: flex;
  flex-direction: row;
}

/* Grid CSS */

.flex-container-goals {
  display: flex;
  align-items: center;
  gap: 20px;
}

.list-wrapper {
  background: #6c757d;
  list-style: none;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.goalHeading {
  color: #ffffff;
  background: #001f3f;
  padding: 2rem;
  border: 2px solid;
}

.list-item {
  padding: 10px;
  background-color: #6c757d;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1;
  background-color: #001f3f;
  color: #ffffff;
}

h2 {
  background: #6c757d;
  padding: 2rem;
  text-align: center;
}

/* Header styles */

.heading {
  width: 100%;
}

header {
  background: #6c757d;
  color: white;
  padding: 2rem;
  text-align: center;
}

#headerlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background: #6c757d;
  padding: 1rem;
}

#contactLink {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border: 2px solid;
  padding: 1rem;
  width: 40%;
  display: block;
  float: left;
}

#contactLink:hover {
  background-color: lightblue;
}

#githubLink {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border: 2px solid;
  padding: 1rem;
  width: 40%;
  display: block;
  float: left;
}

#githubLink:hover {
  background-color: lightblue;
}

/* Section styles */

.responsibilities {
  line-height: 1.5rem;
}

#education,
#work-experience,
#skills,
#goals,
#contact {
  background: #001f3f;
  padding: 40px;
  border: 2px solid #6c757d;
  margin: 1rem;
}

.educationListHeading {
  list-style-type: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
}

/* Form styles */

.fieldLabel {
  color: #000000;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#mailIcon {
  color: #000000;
  padding-right: 0.5rem;
}

#contactForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000000;
  padding: 2rem;
  background: #ffffff;
}

.contactlabels {
  color: #000000;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.interests {
  margin-bottom: 1rem;
}

.formfield {
  height: 2rem;
}

#emaillink {
  color: #000000;
  padding: 0.2rem;
  font-weight: 700;
}

#emaillink:hover {
  color: lightblue;
}

#submit {
  background-color: #001f3f;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

#submit:hover {
  background-color: lightblue;
}

#formbottom {
  text-align: center;
}

footer {
  background-color: #6c757d;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footerlink {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border: 2px solid;
  padding: 1rem;
  /* width: 40%; */
  display: inline-flex;
}

.footerlink:hover {
  background-color: lightblue;
}

.iconfooterlink {
  font-size: 2rem;
}

/* image container css */

.image-container {
  max-width: 35%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
}

/* media queries */

/* mobile responsiveness */

@media only screen and (max-width: 768px) {
  .flex-container-skills,
  .flex-container-education,
  .flex-container-work-experience,
  .flex-container-skills,
  .flex-container-goals,
  .flex-container-contact {
    justify-content: center;
  }

  #education,
  #work-experience,
  #skills,
  #goals,
  #contact {
    padding: 10px;
    font-size: 0.7rem;
    margin: 0;
  }
  .educationListHeading,
  .contactlabels {
    font-size: 1rem;
  }

  ul {
    padding: 0px 25px 0px 25px;
  }

  main {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  #contactForm {
    width: auto !important;
  }

  #contactLink,
  #githubLink {
    width: 100%;
    margin: 5px 0;
  }

  .image-container {
    max-width: 100%;
    display: none;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .formfield {
    height: 1.5rem;
    font-size: 0.8rem;
  }

  #submit {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }
}

/* tablet responsiveness */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .list-wrapper {
    font-size: 0.5rem;
  }

  .flex-container-skills,
  .flex-container-education,
  .flex-container-work-experience,
  .flex-container-skills,
  .flex-container-goals,
  .flex-container-contact {
    justify-content: center;
  }

  #education,
  #work-experience,
  #skills,
  #goals,
  #contact {
    padding: 10px;
    font-size: 0.7rem;
    margin: 0;
  }
  .educationListHeading,
  .contactlabels {
    font-size: 1rem;
  }

  ul {
    padding: 0px 25px 0px 25px;
  }

  main {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  #contactForm {
    width: auto !important;
  }

  #contactLink,
  #githubLink {
    width: 100%;
    margin: 5px 0;
  }

  .image-container {
    max-width: 100%;
    display: none;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .formfield {
    height: 1.5rem;
    font-size: 0.8rem;
  }

  #submit {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }
}

/* laptop responsiveness */

@media only screen and (min-width: 1025px) and (max-width: 1215px) {
  .flex-container-skills,
  .flex-container-education,
  .flex-container-work-experience,
  .flex-container-skills,
  .flex-container-goals,
  .flex-container-contact {
    justify-content: center;
  }

  #education,
  #work-experience,
  #skills,
  #goals,
  #contact {
    padding: 10px;
    font-size: 0.7rem;
    margin: 0;
  }
  .educationListHeading,
  .contactlabels {
    font-size: 1rem;
  }

  ul {
    padding: 0px 25px 0px 25px;
  }

  main {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  #contactForm {
    width: auto !important;
  }

  #contactLink,
  #githubLink {
    width: 100%;
    margin: 5px 0;
  }

  .image-container {
    max-width: 100%;
    display: none;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .formfield {
    height: 1.5rem;
    font-size: 0.8rem;
  }

  #submit {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }
}
